{% extends "layout.html" %}
{% block title %}Competition Creation{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}
<center>
  <h2 style="color: white;">Competition Registration</h2>
</center>

<main class="container" style="padding: 15px; background-color: black; border-radius: 25px;">
  <form name="addForm" class="card" method="POST" action="/createcompetition" style="background-color: black; color: white;">
    <div class="card-content" style="font-family: helvetica;">
      <span class="card-title" style="font-family: optima;">Create Competition</span>
        <div class="input-field">
          <input style="color: white;" type="text" name="name" placeholder="Enter Comp Name" class="materialize-textarea" required>
          <label for="name">Competition Name</label>
        </div>
        <div class="input-field">
          <input style="color: white;" type="date" name="date" style="color: white;" required>
          <label for="date">Competition Date</label>
        </div>
        <div class="input-field">
            <input style="color: white;" type="text" name="location" placeholder="Enter Comp Location" class="materialize-textarea" required>
            <label for="location">Competition Location</label>
        </div>
        <div class="input-field">
          <input style="color: white;" type="number" name="level" placeholder="Enter Comp Level" min="1" max="5" title="Competition Level: Specify the level of the competition (1 to 5)">
          <label for="level">Competition Level</label>
        </div>
        <div class="input-field">
            <input style="color: white;" type="text" name="max_score" placeholder="Enter Max Value" class="materialize-textarea" required title="Competition Max Value: Specify the maximum score for the competition">
            <label for="max_score">Competition Max Value</label>
        </div>

    </div>
    <div class="card-actions">
        <div class="row">
          <div class="col s12">
            <input style="background-color: #343A40; border-radius: 25px;" type="submit" class="btn right" value="Create Competition">
          </div>
        </div>
    </div>
  </form>
</main>

{% endblock %}