<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    
    <nav style="background-color: #042863;">
      <div class="nav-wrapper">
        <a style="font-family: copperplate; color: #FFFFFF;" href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left" style="font-family: lucida bright;">
                <li><a href="/leaderboard" style="color: #FFFFFF;">Leaderboard</a></li>
                <li><a href="/competitions" style="color: #FFFFFF;">Competitions</a></li>
            </ul>
            <ul id="nav-mobile" class="right" style="font-family: lucida bright;">
              {% if user.is_authenticated %}
                <li><a href="/logout" style="color: #FFFFFF;">Log Out</a></li>
                <li><a href="/profile" style="color: #FFFFFF;">Profile</a></li>
              {% else %}
                <li><a href="/signup" style="color: #FFFFFF;">Sign Up</a></li>
                <li><a href="/login" style="color: #FFFFFF;">Log In</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
    </nav>
    <!--
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
        <div style="background-color: black; color: white;" class="alert">
          <span class="closebtn">
            {{ message }}
            <button type="button" class="close" oncick="closeMessage()">X</button>
          </span>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
    -->
    {% block content %}{% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>