{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<style>

body {
        background-color: #E6ECF5;
    }
    
h1 {
    padding: 2vw 0vw 0vw 2vw;
    margin: 0vw;
    /*color: white;*/
}

.profile-info {
    width: 100%;
    height: 90%;
    padding: 2vw;
    display: flex;
}

.moderator-info {
    background-color: #042863;
    border-radius: 25px;
    width: 30%;
    height: 80%;
    outline-style: solid;
    /*background-image: linear-gradient(#61677A, #000000);
    color: white;*/
}

.moderator-image {
    background-color: #E6ECF5;
    border-radius: 25px;
    padding-top: 0vw;
}

.moderator-username {
    text-align: center;
    padding: 0vw;
    font-size: 3vw;
}

.competitions-info {
    width: 70%;
    height: 80%;
}

.competition-list {
    background-color: #042863;
    width: 90%;
    margin: 3vw 2vw 2vw 2vw;
    outline-style: solid;
    font-size: 2vw;
    overflow-y: scroll;
    height: 25vw;
    color: white;
    /*background-image: radial-gradient(#61677A, #000000);*/
}

.competition-list li {
    display: flex;
    padding-left: 2vw;
    margin: 2vw;
    font-size: 1.5vw;
    outline-style: solid;
    color: white;
    background-color: #395DA0;
    /*background-image: linear-gradient(#61677A, #000000);*/
}

@media only screen and (max-width: 700px) {
    h1 {
        text-align: center;
    }
    
    .profile-info {
        display: block;
    }

    .moderator-info {
        width: 90%;
        margin: auto;
    }

    .moderator-username {
        font-size: 10vw;
    }

    .competition-list {
        font-size: 5vw;
        height: 50vw;
        margin-top: 5vw;
    }

    .competition-list li {
        font-size: 5vw;
    }
}
</style>

<div>
    <center><h2 style="color: #042863;">Profile</h2></center>
</div>
<div class="profile-info" style="font-family: helvetica;">
    <div class="moderator-info">
        <div class="moderator-image">
            <center><img src="{{url_for('static', filename='defaultProfilePicture.png')}}" alt="Moderator Photo" width="80%"></center>
        </div>
        <div style="color: white;" class="moderator-username">
            <p>{{moderator.username}}</p>
        </div> 
    </div>

    <div class="competition-list">
        <center><p style="font-family: optima;">Competitions</p></center>
        <ul>
            {% for competition in moderator.competitions %}
                <li>
                    <div style="width: 90%; text-align: left;">
                        <p style="margin: 2vw;">{{competition.name}}</p>
                    </div>
                    <div style="width: 10%; text-align: right; margin: 2vw;">
                        <a style="color: white;" href="{{url_for('comp_views.competition_details_by_name', name=competition.name)}}">Details</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
