{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<style>
.notifications {
    border: 5px solid #ccc; 
    padding: 10px; 
    margin-top: 10px;
}

.notifications ul {
    list-style-type: none;
}

.notifications li {
    margin-bottom: 15px; 
}

.headers {
    width: 100%;
    display: flex;
}

h1 {
    padding: 2vw 0vw 0vw 2vw;
    margin: 0vw;
    /*color: white;*/
}

.profile-info {
    width: 100%;
    padding: 2vw;
    display: flex;
}

.student-info {
    border-radius: 25px;
    width: 30%;
    outline-style: solid;
    background-color: black;
    /*background-image: linear-gradient(#61677A, #000000);
    color: white;*/
}

.student-image {
    background-color: #343A40;
    border-radius: 25px;
    padding: 0vw;
}

.student-username {
    color: white;
    text-align: center;
    padding: 0vw;
    font-size: 3vw;
}

.results-info {
    width: 70%;
}

.ranking-info {
    display: flex;
    height: 12vw;
    margin: auto;
}

.rank {
    border-radius: 25px;
    width: 25%;
    outline-style: solid;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: black;
    /*background-image: linear-gradient(#61677A, #000000);*/
}

.date-form {
    border-radius: 25px;
    width: 25%;
    outline-style: solid;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: black;
    padding: 2vw;
}

.rating-score {
    border-radius: 25px;
    width: 25%;
    outline-style: solid;
    margin: auto;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: black;
    /*background-image: linear-gradient(#61677A, #000000);*/
}

.competition-list {
    width: 95%;
    margin: auto;
    margin-top: 1.5vw;
    outline-style: solid;
    font-size: 2vw;
    overflow-y: scroll;
    height: 20vw;
    color: white;
    background-color: black;
    /*background-image: radial-gradient(#61677A, #000000);*/
}

.competition-list li {
    display: flex;
    padding-left: 2vw;
    margin: 2vw;
    font-size: 1.5vw;
    outline-style: solid;
    border-radius: 25px;
    color: white;
    background-color: #343A40;
    /*background-image: linear-gradient(#61677A, #000000);*/
}

.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 3vw;
    transition: 0.5s;
}

.openbutton {
    width: 5%;
    margin-left: auto;
    margin-top: 2vw;
    margin-right: 2vw;
}

.mail-icon {
    width: 75%;
    margin-left: auto;
    margin-right: 2vw;
    padding-left: auto;
    padding-right: 0vw;
    border-radius: 25%;
    justify-content: flex-end;
}

.sidepanel-header {
    display: flex;
    margin: 0vw 2vw 2vw 2vw;
}

.sidepanel-title {
    color: #EEEEEE;
}

.sidepanel-closebutton {
    margin-left: auto;
    margin-right: 0vw;
}

.sidepanel-content ul li{
    color: white;
    background-color: #343A40;
    border-radius: 25px;
    height: 5vw;
    margin: 2vw;
    padding: 1vw;
    outline-style: solid;
}

@media only screen and (max-width: 700px) {
    .headers {
        display: block;
    }

    h1 {
        text-align: center;
    }
    
    .profile-info {
        display: block;
    }

    .student-info {
        width: 90%;
        margin: auto;
    }

    .results-info {
        width: 90%;
    }

    .student-username {
        font-size: 10vw;
    }

    .results-info {
        width: 100%;
    }

    .ranking-info {
        height: 30vw;
    }

    .rank {
        width: 40%;
        font-size: 5vw;
    }

    .date-form {
        width: 40%;
        font-size: 5vw;
        padding: 5vw;
    }

    .rating-score {
        width: 40%;
        font-size: 5vw;
    }

    .competition-list {
        font-size: 5vw;
        height: 50vw;
        margin-top: 5vw;
    }

    .competition-list li {
        font-size: 5vw;
    }
}
</style>
    
<div class="headers">
    <div>
        <h2 style="color: white; padding-left: 50px;">Profile</h2>
    </div>

    <div id="sidepanel" class="sidepanel" style="font-family: helvetica;">
        <div class="sidepanel-header">
            <div class="sidepanel-title">
                <h4>Notifications</h4>
            </div>
            <div class="sidepanel-closebutton">
                <button onclick="closeNav()">X</button>
            </div>
        </div>
        <div class="sidepanel-content">
            <ul>
                {% for notification in student.notifications[::-1] %}
                    <li>{{ notification.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if user.is_authenticated and user.id==student.id and session['user_type'] == 'student' %}
    <div class="openbutton">
        <img class="mail-icon" src="{{url_for('static', filename='mailIcon.jpg')}}" alt="Notifications" onclick="openNav()">
    </div>
    {% endif %}
</div>
<div class="profile-info" style="font-family: helvetica;">
    <div class="student-info">
        <div class="student-image">
            <center><img src="{{url_for('static', filename='defaultProfilePicture.png')}}" alt="Student Photo" width="80%"></center>
        </div>
        <div class="student-username">
            <p>{{student.username}}</p>
        </div> 
    </div>

    <div class="results-info">
        <span class="ranking-info">
            <div class="rank">
                <p>Rank</p>
                {% if student.curr_rank == 0 %}
                <p>Unranked</p>
                {% else %}
                <p>{{student.curr_rank}}</p>
                {% endif %}
            </div>
            <!--- Date Form -->
            <div class="date-form">
                <form id="dateForm">
                    <label for="date">Enter Date (MM/YYYY):</label>
                    <input type="text" id="date" name="date" placeholder="MM/YYYY">
                    <button type="submit">View History</button>
                </form>
            </div>
            <div class="rating-score">
                <p>Rating Score</p>
                <p>{{'%0.2f' % student.rating_score|float}}</p>
            </div>
        </span>
        <div style="color: white;" class="competition-list">
            <center><p style="font-family: optima;">Participations</p></center>
            <ul>
                {% for competition in competitions[::-1] %}
                    <li>
                        <div style="width: 90%; text-align: left;">
                            <p style="margin: 2vw;">{{competition}}</p>
                        </div>
                        <div style="width: 10%; text-align: right; margin: 2vw;">
                            <a style="color: white; text-decoration: underline;" href="{{url_for('comp_views.competition_details_by_name', name=competition)}}">Details</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    document.getElementById('dateForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from actually submitting
    
        var dateValue = document.getElementById('date').value;
    
        // Validation for MM/YYYY format using regex
        var datePattern = /^(0[1-9]|1[0-2])\/\d{4}$/;
        if (datePattern.test(dateValue)) {
            alert("Date entered: " + dateValue);
        } else {
            alert("Invalid date format. Please use MM/YYYY.");
        }
    });
</script>

    <!---
    <div class="notifications">
        <h5>Notifications:</h5>
        <ul>
            {% for notification in notifications %}
                <li>{{ notification.message }}</li>
            {% endfor %}
        </ul>
    </div>
    -->
{% endblock %}
